<h1 id="tableLabel">Toppings</h1>

<p>List of Toppings</p>

<p *ngIf="!toppings"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="toppings">
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>     
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let topping of toppings | async">
      <td>{{ topping.name }}</td>
      <td>{{ topping.quantity }}</td>
      <td><input type="button" (click)="delete(topping.toppingId)" value="Delete Topping"/></td>              
    </tr>    
  </tbody>
  <td><a routerLink="/app-topping/add-new-topping">Add new Topping</a></td>
</table>

