<h1 id="tableLabel">Pizzas</h1>

<p>List of Pizzas</p>

<p *ngIf="!pizzasWithToppings"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="pizzasWithToppings">  
  <tbody>
    <!--<tr *ngFor="let pizza of pizzas" (click)="open($event, pizza)" >-->
    <tr *ngFor="let item of pizzasWithToppings">
      <div class="row">
        <div class="col-9">
          <td><strong>{{ item.controls['Pizza'].value['name'] }}</strong></td>
          <td *ngFor="let topping of item.controls['Toppings'].value">{{ topping.controls['ToppingName'].value }}</td>
        </div>
        <div class="col-3">
          <div class="row">
            <div class="col-6">
              <input type="button" (click)="delete(item.controls['Pizza'].value['pizzaId'])" value="Delete Pizza" />
            </div>
            <div class="col-6">
              <input type="button" (click)="addToppingToPizza(item.controls['Pizza'].value['pizzaId'])" value=" Add Topping" />
            </div>
          </div>          
        </div>        
      </div>
    </tr>     
  </tbody>  
  <td><a routerLink="/app-pizza/add">Add new Pizza</a></td>
       
</table>

